
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: "Protest Riot", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}
*
   
   main {
     background: gainboro;
     
     /* make two columns  */
     display: grid;
     grid-template-columns: repeat(2, 1fr);  
    }
    /* 1fr 1fr */
   
   article {
     background: linear-gradient(#F3AFDC,#A6F8F3);
     padding: 2em;
     
     
   /*  vert center. horiz center.  */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   aside {
     background:linear-gradient(#F3AFDC,#A6F8F3)
     
       
   }
   
   aside img {
   /* fit image to container */
     display: block;
     max-width: 80%;
     
     /* full height image. Fit to container. No stretching. */
     height: 100vh;
     object-fit: cover;
   }
  
   
   a:hover, 
   a:active {
     background: white;
     border: 1px solid black;
     color: gray;
     
     transform: scale(1.5);
     
   }

   body h1 {
    font-weight: 900;
    font-size: 2rem;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    
  }
  